<div class='row'>
  <div class='col-lg-8 col-lg-offset-2 offset-lg-2 offset-lg-2
              col-md-8 col-md-offset-2 offset-md-2 offset-md-2
              col-sm-10 col-sm-offset-1 offset-sm-1 offset-sm-1
              col-xs-12'>
    <div class='panel  card  card panel-default'>
      <% if (!embedded) { %>
        <div class='panel-heading card-header'>
          <h3 class='panel-title card-title'><%= title %></h3>
	</div>
      <% } %>
      <div class='panel-body card-body'>
	<span id="general_error" style="color:red;"></span>
	<form id='create_dataset_form'
              class='form-horizontal' role='form'
              method='post' action=create_dataset.php'>
	  <div class='row'>
	    <div class='col-sm-12'>
	      <% if (1 || projects) { %>
	        <% if (editing || projects.length == 1) { %>
		  <div class="form-group">
		    <input name="dataset_pid" readonly
			 id="dataset_pid"
			 value="<%- formfields.dataset_pid %>"
			 class="form-control format-me"
			 data-label="Project"
			 data-key="dataset_pid">
		  </div>
		<% } else { %>
		  <div class="form-group">
		    <select name="dataset_pid"
			    id="dataset_pid"
			    class='form-control form-select format-me'
			    data-key="dataset_pid"
			    data-label="Project"
			    placeholder='Please Select'>
		      <% _.each(projects, function(name) { %>
			<option 
			    <% if (_.has(formfields, 'dataset_pid') &&
			      formfields.dataset_pid == name) { %>
			    selected
			    <% } %>
			    value='<%= name %>'><%= name %>
			</option>
		      <% }); %>
		    </select>
		  </div>
	        <% } %>
	      <% } %>
	      <div class="form-group">
		<input name="dataset_name" id="dataset_name"
		     value="<%- formfields.dataset_name %>"
		     class="form-control format-me"
		     data-key="dataset_name"
		     data-label="Name"
		     <% if (editing) { %> readonly <% } %>
		     placeholder="alphanumeric, no spaces" type="text">
	      </div>
	      <% if (editing) { %>
		<input name="dataset_type" type='hidden'
		       value="<%- formfields.dataset_type %>">
		<div class="form-group">
		  <input name='ignored'
			 value=<% if (formfields.dataset_type == "stdataset")
			       { %>'Short Term'<% }
			       else if (formfields.dataset_type == "ltdataset")
			       { %>'Long Term'<% } else { %>Image Backed'<% } %>
			 class="form-control format-me"
			 data-key="dataset_type"
			 data-label="Type"
			 readonly
			 type="text">
		</div>
	      <% } else { %>
	        <div class="form-group">
	          <div class='format-me' data-key='dataset_type'
		       data-label="Type">
		    <div class="format-check">
                      <input type='radio' name='dataset_type'
			     class="form-check-input"			     
			     id='dataset_type_stdataset'
		             <% if (formfields.dataset_type == "stdataset") {
				%>checked<% } %>
			     value='stdataset'>
		      <label class="form-check-label">Short term</label>
		    </div>
		    <div class="format-check">
                      <input type='radio' name='dataset_type'
			     class="form-check-input"			     
			     id='dataset_type_ltdataset'
		             <% if (formfields.dataset_type == "ltdataset") {
			     %>checked<% } %>
			     value='ltdataset'>
		      <label class="form-check-label">Long term</label>
		    </div>
		    <div class="format-check">
                      <input type='radio' name='dataset_type'
			     class="form-check-input"			     
			     id='dataset_type_imagedataset'
		             <% if (formfields.dataset_type == "imdataset") {
			     %>checked<% } %>
			     value='imdataset'>
		      <label class="form-check-label">Image backed</label>
		    </div>
		    <a href='#' id='dataset_help_link'>
		      <span>What type should I pick?</span></a>
		  </div>
	      </div>
	      <% } %>
	      <div id='dataset_size_div'
		   <% if (formfields.dataset_type == "imdataset") {
		      %> class='hidden' <% } %> >
		<div class="form-group">
		  <input name="dataset_size" id="dataset_size"
			 value="<%- formfields.dataset_size %>"
			 class="form-control format-me"
			 data-key="dataset_size"
			 data-label="Size"
			 placeholder="eg: NNN(MB|GB|TB|MiB|GiB|TiB)"
			 <% if (editing) { %> readonly <% } %>
			 type="text">
		</div>
	      </div>
	      <% if (! embedded) { %>
	      <div id='dataset_cluster_div'
		   <% if (formfields.dataset_type == "imdataset") {
		      %> class='hidden' <% } %> >
		<% if (! editing) { %>
		  <div class="form-group">
		    <select name="dataset_cluster"
			id="dataset_cluster"
			class='form-control form-select format-me'
			data-key="dataset_cluster"
			data-label="Cluster"
			placeholder='Please Select'>
		      <option value=''>Please Select</option>
		      <% _.each(amlist, function(name, value) { %>
			<option
			    <% if (value == formfields.dataset_cluster) { %>
			    selected
			    <% } %>
			    value='<%= value %>'><%= name %>
			</option>
		      <% }); %>
		    </select>
		  </div>
		<% } %>
	      </div>
	      <% } %>
	      <% if (! editing) { %>
	      <div id='dataset_imageonly_div'
		   <% if (formfields.dataset_type != "imdataset") {
		      %> class='hidden' <% } %> >
		<% if (instancelist) { %>
		  <div class="form-group">
		    <select name="dataset_instance"
			  id="dataset_instance"
			  class='form-control form-select format-me'
			  data-key="dataset_instance"
			  data-label="Instance"
			  placeholder='Please Select'>
		      <option value=''>Please Select</option>
		      <% _.each(instancelist, function(instance) { %>
			<option
			    <% if (instance.uuid == formfields.dataset_instance) { %>
			    selected
			    <% } %>
			    value='<%= instance.uuid %>'><%= instance.name %>
			</option>
		      <% }); %>
		    </select>
		  </div>
		  <div class="form-group">
		    <select name="dataset_node"
			  id="dataset_node"
			  class='form-control form-select format-me'
			  data-key="dataset_node"
			  data-label="Node"
			  placeholder='Please Select'>
		    </select>
		  </div>
		  <div class="form-group">
		    <select name="dataset_bsname"
			  id="dataset_bsname"
			  class='form-control form-select format-me'
			  data-key="dataset_bsname"
			  data-label="BS Name"
			  placeholder='Please Select'>
		    </select>
		  </div>
	        <% } else if (embedded) { %>
		  <div class="form-group">
		    <input name="dataset_node" id='dataset_node'
			 value="<%- formfields.dataset_node %>"
			 class="form-control format-me"
			 data-key="dataset_node"
			 data-label="Node"
			 placeholder="Node to snapshot dataset from"
			 type="text">
		  </div>
		  <div class="form-group">
		    <input name="dataset_bsname" id='dataset_bsname'
			 value="<%- formfields.dataset_bsname %>"
			 class="form-control format-me"
			 data-key="dataset_bsname"
			 data-label="BS Name"
			 placeholder="Blockstore name on the node"
			 type="text">
		  </div>
		<% } %>
	      </div>
	      <% } %>
	      <div id='dataset_expires_div'
		   <% if (formfields.dataset_type == "ltdataset" ||
		          formfields.dataset_type == "imdataset") {
		      %> class='hidden' <% } %> >
		<div class="form-group">
		  <input name="dataset_expires"
		       style='position: relative; z-index:1000;'
		       id='dataset_expires'
		       <% if (editing) { %> readonly <% } %>
		       value="<%- formfields.dataset_expires %>"
		       class="form-control format-me"
		       data-key="dataset_expires"
		       data-label="Expires"
		       placeholder="MM/DD/YYYY"
		       type="text">
		  <input name="dataset_expires_gmt" type='hidden' value="">
		</div>
	      </div>
	      <div id='dataset_fstype_div'
		   <% if (formfields.dataset_type == "imdataset") {
		      %> class='hidden' <% } %> >
		<% if (editing) { %>
		  <div class="form-group">
		    <input name="dataset_fstype"
		       value="<%- formfields.dataset_fstype %>"
		       class="form-control format-me"
		       data-key="dataset_fstype"
		       data-label="FS Type"
		       readonly
		       type="text">
		  </div>
		<% } else { %>
		  <div class="form-group">
		    <select name="dataset_fstype"
			class="form-control form-select format-me"
			data-key="dataset_fstype"
			data-label="FS Type">
		      <% _.each(fstypes, function(name) { %>
			<option 
			    <% if (_.has(formfields, 'dataset_fstype') &&
		  	      formfields.dataset_fstype == name) { %>
			    selected
			    <% } %>
			    value='<%= name %>'><%= name %>
			</option>
		      <% }); %>
		    </select>
		  </div>
		<% } %>
	      </div>
	      <!-- Permission checkboxes. -->
	      <div class='row'>
		<div class='col-sm-9 col-sm-offset-3 offset-sm-3 offset-sm-3'>
		  Who can read your dataset?
		</div>
	      </div>
	      <div class='row'>
		<div class='col-sm-8 col-sm-offset-4 offset-sm-4 offset-sm-4'>
		  <div class="form-group">
		    <div class='format-me' data-key='dataset_read'>
		      <div class='format-check'>
			<input type='radio' name='dataset_read'
			       id='dataset_read_public'
			       class="form-check-input"
		               <% if (formfields.dataset_read == "global") {
				  %>checked<% } %>
			       value='global'>
			<label class="form-check-label"><em>Anyone</em></label>
                      </div>
                      <div class='format-check'>
			<input type='radio' name='dataset_read'
			       id='dataset_read_private'
			       class="form-check-input"
		               <% if (formfields.dataset_read == "project") {
			           %>checked<% } %>
			       value='project'>
			<label class="form-check-label">Only members of 
			  <span name="project_name">your project</span></label>
                      </div>
                    </div>
		  </div>
		</div>
              </div>
	      <div class='row'>
		<div class='col-sm-9 col-sm-offset-3 offset-sm-3 offset-sm-3'>
		  Who can write to your dataset?
		</div>
	      </div>
	      <div class='row'>
		<div class='col-sm-8 col-sm-offset-4 offset-sm-4 offset-sm-4'>
		  <div class="form-group">
		    <div class='format-me' data-key='dataset_modify'>
                      <div class='format-check'>
			<input type='radio' name='dataset_modify'
			       id='dataset_modify_registered'
			       class="form-check-input"			     
			       <% if (formfields.dataset_modify == "creator") {
			       %>checked<% } %>
			       value='creator'>
			<label class="form-check-label">Only you</label>
    			</label>
                      </div>
                      <div class='format-check'>
			<input type='radio' name='dataset_modify'
			       id='dataset_modify_private'
			       class="form-check-input"			     
			       <% if (formfields.dataset_modify == "project") {
			       %>checked<% } %>
			       value='project'>
			<label class="form-check-label">You and members of
			  <span name="project_name">your project</span></label>
                      </div>
                    </div>
		  </div>
		</div>
              </div>
	      <% if (isadmin && editing &&
		     formfields.dataset_type == "ltdataset") { %>
		<div class='row'>
		  <div class='col-sm-9 col-sm-offset-3 offset-sm-3 offset-sm-3'>
		    <div class='form-checkbox format-me'
			 data-key='dataset_permanent'
			 data-compact='yep'>
		      <input type='checkbox' name='dataset_permanent'
			       class="form-check-input"			     
			       id='dataset_modify_permanent'
			       <% if (formfields.dataset_permanent) {
			       %>checked<% } %>
			       value='checked'>
		      <label class="form-check-label">
			Permanent (never delete).</label>
                    </div>
		  </div>
		</div>
              <% } %>
	      <% if (editing) { %>
	      <input type='hidden' name='dataset_uuid'
		     value='<%= formfields.dataset_uuid %>'>
	      <% } %>
	      
              <button class='btn btn-primary btn-sm pull-right'
                      id='dataset_submit_button'
                      type='submit' name='create'>
		<% if (editing) { %>Save Changes<% } else { %>Create<% } %>
	      </button>
	    </div>
	  </div>
	</form>
      </div>
    </div>
  </div>
  <div id="checkapproval-modal" class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <center><h4>Your dataset will need administrator approval</h4></center>
	</div>
	<div class='modal-body'>
	  Your dataset will need administrator approval for the following reason:
          <div class="mt-2 mb-2">
	    <code style="white-space: pre-wrap" id="checkapproval-text"></code>
	  </div>
	  You can click Continue and wait for approval, which typically takes a
	  day or two. Or you can click Cancel and modify the form as needed.
	  Then Submit again.
	  <center>
	    <button type='button'
		    class='btn btn-primary btn-sm confirm-button'>
	      Continue
	    </button>
	    <button type='button'
		    class='btn btn-default btn-sm cancel-button'
		    data-dismiss='modal' data-bs-dismiss='modal'>
	      Cancel</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id="needapproval-modal" class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class='close btn-close'
		  data-dismiss='modal'
		  data-bs-dismiss='modal'
                  aria-hidden='true'></button>
          <center><h4>Your dataset needs to be approved!</h4></center>
	</div>
	<div class='modal-body'>
	  Your dataset needs to be approved by an administrator. The
	  reason (if one was provided by the target cluster) is
	  below. Approval typically happens pretty quickly, watch
	  your email for notification.
          <div>
	    <br>
	    <code style="white-space: pre-wrap" id="needapproval-text"></code>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <!-- place to hang the modals for now -->
  <div id='oops_div'></div>
  <div id='waitwait_div'></div>
</div>
