<div id="inuse-ranges"
     class='row hidden col-sm-8 col-sm-offset-2 offset-sm-2'>
  <center>
    <h4 class="text-center">
      Frequency Ranges Currently In Use
      <a href="#" id="global-inuse-button"
	 data-toggle='tooltip' data-bs-toggle='tooltip'
	 title='Combined TX graph of all currently inuse ranges'
	 data-trigger="hover" data-bs-trigger="hover">	 
	<span class="glyphicon glyphicon-align-left"
	      style="margin-left: 5px;"></span></a>
    </h4>      
    <table class='tablesorter'>
      <thead>
	<tr>
	  <th>Experiment</th>
	  <th>User</th>
	  <th>Project</th>
	  <th>Lower (MHz)</th>
	  <th>Upper (MHz)</th>
	  <th>Type</th>
	  <th>Target</th>
	  <th>Expires</th>
	</tr>
      </thead>
      <tbody>
	<% _.each(inuse_ranges, function(range) { %>
	  <tr>
	    <td><a href="status.php?uuid=<%- range.uuid %>"
		   target="_blank">
	      <%- range.name %></a>
	      <% if (range.txlist) { %>
		<a href="#" class="pull-right txgraph-button"
		   data-key="<%- range.key %>">
		  <span class="glyphicon glyphicon-align-left"
			style="margin-right: 5px;"></span></a>
	      <% } %>
	    </td>
	    <td><a href="user-dashboard.php?user=<%- range.uid %>#myprofile"
		   target="_blank">
	      <%- range.uid %></a></td>
	    <td><a href="show-project.php?project=<%- range.pid %>"
		   target="_blank">
	      <%- range.pid %></a></td>
	    <td><%- range.freq_low %></td>
	    <td><%- range.freq_high %></td>
	    <td><%- range.type %></td>
	    <td><%- range.target %></td>
	    <td><%- moment(range.end).format("MMM Do, h:m A") %></td>
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </center>
</div>
<div id="global-ranges"
     class='row hidden col-sm-8 col-sm-offset-2 offset-sm-2'>
  <center>
    <h4 class="text-center">
      Global Frequency Ranges</h4>
    <table class='tablesorter'>
      <thead>
	<tr>
	  <th>ID</th>
	  <th>Lower (MHz)</th>
	  <th>Upper (MHz)</th>
	</tr>
      </thead>
      <tbody>
	<% _.each(global_ranges, function(range, index) { %>
	  <tr>
	    <td><%- range.range_id ? range.range_id : range.idx %></td>
	    <td><%- range.freq_low %></td>
	    <td><%- range.freq_high %></td>
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </center>
</div>
<div id="project-ranges"
     class='row hidden col-sm-8 col-sm-offset-2 offset-sm-2'>
  <center>
    <h4 class="text-center">
      Project Frequency Ranges</h4>
    <table class='tablesorter'>
      <thead>
	<tr>
	  <th>Project</th>
	  <th>ID</th>
	  <th>Lower (MHz)</th>
	  <th>Upper (MHz)</th>
	</tr>
      </thead>
      <tbody>
	<% _.each(project_ranges, function(list, pid) { %>
	  <% _.each(list, function(range) { %>
	    <tr>
	      <td><a href="show-project.php?project=<%- pid %>">
		<%- pid %></a></td>
	      <td><%- range.range_id ? range.range_id : range.idx %></td>
	      <td><%- range.freq_low %></td>
	      <td><%- range.freq_high %></td>
	    </tr>
	  <% }); %>
	<% }); %>
      </tbody>
    </table>
  </center>
</div>
<div id="history-ranges"
     class='row col-sm-12'>
  <center>
    <h4 class="text-center">
      Recent History
      <a href="#" id="global-history-button"
	 data-toggle='tooltip' data-bs-toggle='tooltip'
	 title='Combined TX graph of all selected rows in the table'
	 data-trigger="hover" data-bs-trigger="hover">	 
	<span class="glyphicon glyphicon-align-left"
	      style="margin-left: 5px;"></span></a>
    </h4>
    <div class="waiting">
      <img src='images/spinner.gif' />
    </div>
  </center>
</div>
