<style>
 .ui-autocomplete {
     max-height: 300px;
     overflow-y: auto;
     /* prevent horizontal scrollbar */
     overflow-x: hidden;
     font-family: Helvetica,Tahoma,Verdana,Sans-serif;
 }
 .ui-autocomplete-input {
     font-family: Helvetica,Tahoma,Verdana,Sans-serif;
 }
 /* IE 6 doesn't support max-height
  * we use height instead, but this forces the menu to always be this tall
  */
 * html .ui-autocomplete {
     height: 300px;
 }
</style>

<div class='row'>
  <div class='col-lg-6 col-lg-offset-3 offset-lg-3
	      col-md-8 col-md-offset-2 offset-md-2
	      col-sm-10 col-sm-offset-1 offset-sm-1
	      col-xs-12'>
    <div class='panel card panel-default'>
      <div class='panel-heading card-header'>
        <h5 class='panel-title card-title'>My Account</h5>
      </div>
      <div class='panel-body card-body'>
	<span id="general_error" style="color:red;"></span>
	<form id='myaccount_form'
              role='form'
              enctype='multipart/form-data'
	      method='post' action='myaccount.php'>
	  <input type='hidden' name='uid' value='<%- formfields.uid %>'>
	  <%= verify_modal %>
	  <fieldset>
	    <div class="form-group">
	      <input name="ignore" value="<%- formfields.uid %>"
		     class="form-control format-me"
		     data-key="uid"
		     data-label="Username"
		     readonly type="text">
	    </div>
	    <div class="form-group">
	      <input name="name" value="<%- formfields.name %>"
		     class="form-control format-me" data-key="name"
		     placeholder="Alpha Numeric, no spaces"
		     data-label="Full Name"
		     type="text">
	    </div>
	    <div class="form-group">
	      <input name="email" value="<%- formfields.email %>"
		     <% if (window.ISADMIN == 0) { %>
		       readonly
		     <% } %>
		     class="form-control format-me"
		     data-key="email"
		     data-label="Email"
		     placeholder="Email" type="text">
	    </div>
	    <div class="form-group">
	      <input name="title" value="<%- formfields.title %>"
		     class="form-control format-me"
		     data-key="title"
		     data-label="Job Title"
		     placeholder="Job Title (eg: Student|Faculty|PostDoc|Staff|etc)"
		     type="text">
	      <tiny>
		<em>If you work at a company, please provide your
		  professional title</em>
	      </tiny>
	    </div>
	    <% if (window.ISPOWDER) { %>
	      <div class="form-group">
		<input name="address1" value="<%- formfields.address1 %>"
		       class="form-control format-me"
		       data-key="address1"
		       data-label="Home Address Line 1"
		       placeholder="Home Address Line 1" type="text">
	      </div>
	      <div class="form-group">
		<input name="address2" value="<%- formfields.address2 %>"
		       class="form-control format-me"
		       data-key="address2"
		       data-label="Home Address Line 2"
		       placeholder="Home Address Line 2" type="text">
	      </div>
	    <% } %>
	    <div class="form-group">
	      <select id="signup_countries" name="country"
		      class="form-control form-select format-me bfh-countries"
		      data-country="<%- formfields.country %>"
		      data-placeholder="Country"
		      data-label="Country"
		      data-blank="false" data-ask="true" data-key="country">
	      </select>
	    </div>
	    <div class="form-group">
	      <select  id="signup_states" name="state"
		       class="form-control form-select format-me bfh-states"
		       data-state="<%- formfields.state %>"
		       data-country="signup_countries" data-ask="true"
		       data-placeholder="State" data-blank="false"
		       data-label="State"
		       data-key="state">
	      </select>
	    </div>
	    <% if (window.ISPOWDER) { %>
	      <div class="row">
		<div class="col-xs-8" style="padding-right: 5px;">  
		  <div class="form-group">
		    <input name="city" value="<%- formfields.city %>"
			   class="form-control format-me"
			   data-key="city"
			   data-label="City"
			   placeholder="City"
			   type="text">
		  </div>
		</div>
		<div class="col-xs-4" style="padding-left: 5px;">  
		  <div class="form-group">
		    <input name="zip" value="<%- formfields.zip %>"
			   class="form-control format-me"
			   data-key="zip"
			   data-label="Zip/Postal Code"
			   placeholder="Zip/Postal Code"
			   type="text">
		  </div>
		</div>
	      </div>
	    <% } else { %>
	      <div class="form-group">
		<input name="city" value="<%- formfields.city %>"
		       class="form-control format-me"
		       data-key="city"
		       data-label="City"
		       placeholder="City"
		       type="text">
	      </div>
	    <% } %>
	    <div class="form-group">
	      <div data-key="affiliation"
		   data-label="Institutional Affiliation"
		   class="format-me">
		<input name="affiliation" value="<%= formfields.affiliation %>"
		       id="affiliation" 		     
		       class="form-control"
		       placeholder="Please provide the full name, not an abbreviation" type="text">
		<a href="#"
		   data-target='#institutional-why'
		   data-bs-target='#institutional-why'
		   data-toggle='modal' data-bs-toggle='modal'>
		  <tiny>Why is this important?</tiny></a>
	      </div>
	    </div>
	    <div class="form-group">
	      <select id="signup_shell"
		      name="shell"
		      class="form-control form-select format-me"
		      data-label="Default Shell"
		      data-key="shell">
		<% _.each(["bash", "tcsh", "sh", "zsh"], function (shell) { %>
		  <option
		      <% if (shell == formfields.shell) { %>
	              selected
		      <% } %>
		      value='<%= shell %>'><%= shell %>
		  </option>
		<% }); %>
	      </select>
	    </div>
            <button class='btn btn-primary btn-sm pull-right'
		    style="margin-top: 15px;"
		    id='submit_button' disabled
		    type='submit' name='modify'>Save</button>
	  </fieldset>
	</form>
      </div>
    </div>
  </div>
</div>
<div id='addrequired-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<center><h4>Please update your profile</h4></center>
      </div>
      <div class='modal-body'>
	<p class="lead">
	  <% if (window.ISPOWDER) { %>
	    As the POWDER platform transitions into availability of
	    general over-the-air operation, platform users will need to
	    update their personal information.
	  <% } else if (window.ISCLOUD) { %>
	    Up-to-date information is important for reporting
	    CloudLab's usage to our funders.  Please verify that your
	    information is correct and current.
	  <% } else { %>
	    Up-to-date information is important for reporting
	    usage to our funders.  Please verify that your
	    information is correct and current.
	  <% } %>
	</p>
      </div>
    </div>
  </div>
</div>
<div id='affiliation-update-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<p style="font-size: 16px; margin-top: 20px;">
	  Up-to-date information is important for reporting
	  <% if (window.ISPOWDER) { %>
	    Powder's
	  <% } else if (window.ISCLOUD) { %>
	    CloudLab's 
	  <% } else { %>
	    Emulab's
	  <% } %>
	  usage to our funders.
	  <% if (window.MATCHED) { %>
	    Please take a moment to verify that your recorded
	    affiliation is current.
	  <% } else { %>
	    Please take a moment to enter your insitutional affiliation.
	  <% } %>
	</p>
      </div>
    </div>
  </div>
</div>
<div id='institutional-why' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<p style="font-size: 16px; margin-top: 15px;">
	  Providing the complete (non-abbreviated) name of your affiliation
	  allows us to provide better usage statistics to our funders.
	</p>
	<p style="font-size: 16px;">
	  The input box is an autocomplete dropdown list. If you do not see your
	  institution listed, please type it out fully. 
	</p>
      </div>
    </div>
  </div>
</div>
