<div>
  <table class='table table-condensed table-bordered'
	 style="font-size: 12px; margin-bottom: 0px;">
    <thead>
      <tr>
	<th>Location</th>
	<th>Image</th>
	<th>Status</th>
	<th>Size</th>
	<th>ToGo</th>
	<th>Progress</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(status, function(agg, aggregate_urn) { %>
	<% _.each(agg.images, function(image, imageurn) { %>
	  <tr>
	    <td><%- amlist[aggregate_urn].abbreviation %></td>
	    <td><%- imageurn %></td>
	    <td><%- image.status %></td>
	    <td><%- Math.floor(image.size / 1000) %>MB</td>
	    <td><%- Math.floor((image.size - image.progress) / 1000) %>MB</td>
	    <td style="width: 15%;">
	      <div class="progress" style="margin-bottom: 0px;">
		<% if (image.status != "ready") {
		  var width = (image.progress != 0 ?
		    (image.progress/image.size) * 100 : 3);
		%>
		  <div class="progress-bar progress-bar-striped active"
		       role="progressbar"
		       style="width: <%- width %>%;">
		  </div>
		<% } else { %>
		  <div class="progress-bar progress-bar-success"
		       role="progressbar" style="width: 100%;"></div>
		<% } %>
	      </div>
	    </td>
	  </tr>
	<% }); %>
      <% }); %>
    </tbody>
  </table>
</div>
