<!-- This is the renderer modal -->
<div id='renderer_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<center>
          <h4>Markdown Renderer</h4>
	</center>
      </div>
      <div class='modal-body'>
        <!-- This rendering goes inside this div -->
        <div class='panel panel-default'>
          <div class='panel-body'>
            <div id='renderer_modal_div'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


