<style>
 .ui-autocomplete {
     max-height: 300px;
     overflow-y: auto;
     /* prevent horizontal scrollbar */
     overflow-x: hidden;
     font-family: Helvetica,Tahoma,Verdana,Sans-serif;
 }
 .ui-autocomplete-input {
     font-family: Helvetica,Tahoma,Verdana,Sans-serif;
 }
 /* IE 6 doesn't support max-height
  * we use height instead, but this forces the menu to always be this tall
  */
 * html .ui-autocomplete {
     height: 300px;
 }
</style>

<div class='row'>
  <div class='col-lg-10  col-lg-offset-1 offset-lg-1
       col-md-10 col-md-offset-1 offset-md-1
       col-sm-12 
       col-xs-12'>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
	<% if (window.ISCLOUD) { %>
	  <span class="pull-right">
	    Please see our
	    <a href="http://www.cloudlab.us/aup.php" target="_blank">
	      Acceptable Use Policy</a>
	  </span>
	<% } %>
        <h3 class='panel-title card-title' id='signup_panel_title'>
	  <%- pagetitle %>
	</h3>
      </div>
      <div class='panel-body card-body'>
	<% if (general_error) { %>
	  <font color=red><%- general_error %></font>
	<% } %>
	<% if (about_account) { %>
	  <%= about_account %>
	<% } %>
	<form id='quickvm_signup_form'
              role='form'
              enctype='multipart/form-data'
	      method='post' action='signup.php'>
	  <div class='row'>
	    <div class='<% if (this_user && !promoting) { %>col-sm-12<% } else { %>col-sm-6<% } %>'>
	      <%= verify_modal %>
	      <input type='hidden' name='formfields[pubkey]'
		     value='<%- pubkey %>'>
	      <% if (!this_user || promoting) { %>
	        <fieldset>
		  <legend>Personal Information</legend>
		  <%= personal_fields %>
		</fieldset>
	    </div>
	    <div class='col-sm-6'>
	      <% } %>
	      <fieldset>
		<legend>
		  Project Information
		</legend>
		<%= project_fields %>
	      </fieldset>
	    </div>
	  </div>
          <button class='btn btn-primary btn-sm pull-right'
		  id='submit_button'
                  type='submit' name='create'><%- button_label %></button>
	</form>
      </div>
    </div>
  </div>
</div>
