<div class='row'>
  <div class='col-lg-12 col-lg-offset-0
              col-md-12 col-md-offset-0
              col-sm-12 col-sm-offset-0
              col-xs-12 col-xs-offset-0'>
    <% if (nonlocal) { %>
    <div class='row'>
      <div class='col-lg-8  col-lg-offset-2
	          col-md-8  col-md-offset-2
	          col-sm-10  col-sm-offset-1
	          col-xs-10  col-xs-offset-1'>
        <div class='panel panel-info'>
	  <div class='panel-body bg-warning style='padding: 5px;'>
            <div>
              GENI Users; be sure to add ssh keys at <b>your</b> portal if
              you want to log in from your desktop. Keys at your portal will be
              reflected in the list below.
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <div class='row'>
      <div class='col-lg-8   col-lg-offset-2
	          col-md-10  col-md-offset-1
	          col-sm-12  col-sm-offset-0
	          col-xs-12  col-xs-offset-0'>
	<!-- Collapsable panel -->
	<% _.each(pubkeys, function(pubkey) {
	   var key_href  = 'key_' + pubkey.index;
	   var key_title = pubkey.comment;
	   var delete_id = "delete_key_" + pubkey.index;
	   var panel_id  = "panel_" + pubkey.index;
	 %>
	<div class="panel panel-info" id='<%- panel_id %>'>
	  <div class="panel-heading clearfix">
	    <% if (!nonlocal) { %>
	    <div class='button-group pull-right'>
	      <a class='btn btn-danger btn-sm delete_pubkey_button'
		 type='button'
		 data-key='<%- pubkey.index %>'>Delete</a>
	    </div>
	    <% } %>
	    <div style='padding-top: 7.5px;'>
	      <a data-toggle="collapse"
		 href='#<%- key_href %>'>
		<h4 class='panel-title'><%- key_title %></h4></a>
	    </div>
	  </div>
	  <div id='<%- key_href %>' class="panel-collapse collapse">
	    <div class="panel-body">
	      <span style='word-wrap:break-word;'><%- pubkey.pubkey %></span>
	    </div>
	  </div>
	</div>
	<% }); %>
      </div>
    </div>
    <% if (!nonlocal) { %>
    <div class='row'>
      <div class='col-lg-8   col-lg-offset-2
	          col-md-10  col-md-offset-1
	          col-sm-12  col-sm-offset-0
	          col-xs-12  col-xs-offset-0'>
	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h4 class='panel-title'>Add Key</h4>
	  </div>
	  <div>
	    <div class="panel-body">
	      <form id='add_sshkey_form'
		    class='form-horizontal' role='form'>
		<span class='help-block col-sm-offset-2 col-sm-10'>
                  Upload a file or paste it in the text box. This will
		  allow you to login using your favorite ssh client. Without
		  a SSH key, you will be limited to using a shell window in
		  your browser. Don't know how to generate your SSH key? 
		  See
		  <a href='https://help.github.com/articles/generating-ssh-keys'>
		    this tutorial.</a>
		</span>
		<div class="form-group">
		  <label for="sshkey_data"
			 class="col-sm-2 control-label">Key</label>
		  <div class="col-sm-10">
		    <textarea name="sshkey_data" id='sshkey_data'
			      value=""
			      rows=5
			      class="form-control"
			      placeholder='public key'
			      type="textarea"></textarea>
		  </div>
		</div>
		<div class="form-group">
		  <div class='col-sm-offset-2 col-sm-10'>
                    <input class='filestyle' type='file'
			   name='sshkey_file' id='sshkey_file' 
			   data-classButton='btn btn-primary btn-sm'
			   data-input='false'
			   data-buttonText='Load from file'>
		    <button type="button" id='ssh_clear_button'
			    style='margin-left: 10px;'
			    class="btn btn-default btn-sm">Clear Form</button>
		  </div>
		</div>
		<div class="form-group">
		  <div class="col-sm-offset-2 col-sm-10">
		    <button type="submit" id='ssh_addkey_button'
			    class="btn btn-primary btn-sm">Add Key</button>
		  </div>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <% } %>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
<div id='confirm_div'></div>
