<!-- This is the terminate modal -->
<div id='terminate_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <p>Are you sure you want to terminate this experiment? 
          Click on the button below if you are really sure.
	</p>
	<% if (expinfo.user_lockdown) { %>
	<p class='text-warning'>
	  This experiment has been flagged as important, possibly because
	  it was granted an extension by an administrator; please confirm
	  that you <b>REALLY</b> want to terminate by copying the text in
	  the left box into the right box:
	</p>
	<center>
	  <input size=5 readonly value='<%- lockdown_code %>'>
	  <input size=5 id='terminate_lockdown_code'>
	</center>
	<% } %>
	<center class="mt-3">
          <button class='btn btn-danger confirm-button' id='terminate'
                  type='submit' name='terminate'>
	    Terminate</button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'>
	    Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>


