<!-- This is the user verify modal -->
<div id='<%- id %>' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
        <h3>Important</h3>
      </div>
      <div class='modal-body'>
        <p>Check your email for a verification code, and
          enter it here:</p>
        <div class='form-group'>
          <input name='verify' class='form-control'
                 placeholder='Verification code'
                 autofocus type='text' />
        </div>
	<center>
          <button class='btn btn-primary btn-sm'
                  id='verify_modal_submit'
                  type='submit' name='create'>
            <%- label %>
	  </button>
	</center>
      </div>
    </div>
  </div>
</div>
