svg {
    display: block;
}
.frequency-graph .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.frequency-graph .line-incident {
    stroke: green;
}
.frequency-graph .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.frequency-graph .tooltip circle {
    fill: black;
}

.frequency-graph .tooltip text {
    font-size: 14px;
}

.frequency-graph .tooltip-rect {
    fill: white;
    stroke: #000;
}

.frequency-graph .popover-content {
    margin: 0px;
    padding: 0px;
}    
.frequency-graph .arrow {
    display: none;
}    

.frequency-graph-div .popover,
.frequency-graph-div .tooltip-popover
{
    min-width: 240px !important;
}

.frequency-graph .tooltip-popover .table-condensed > thead > tr > th,
.frequency-graph .tooltip-popover .table-condensed > tbody > tr > th,
.frequency-graph .tooltip-popover .table-condensed > tfoot > tr > th,
.frequency-graph .tooltip-popover .table-condensed > thead > tr > td,
.frequency-graph .tooltip-popover .table-condensed > tbody > tr > td,
.frequency-graph .tooltip-popover .table-condensed > tfoot > tr > td {
    padding: 0px;
}

/* Cleaning up, see txgraph */
.frequency-graph .popover-content .table-condensed > thead > tr > th,
.frequency-graph .popover-content .table-condensed > tbody > tr > th,
.frequency-graph .popover-content .table-condensed > tfoot > tr > th,
.frequency-graph .popover-content .table-condensed > thead > tr > td,
.frequency-graph .popover-content .table-condensed > tbody > tr > td,
.frequency-graph .popover-content .table-condensed > tfoot > tr > td {
    padding: 1px;
}
.frequency-graph .tooltip-popover .table-condensed {
    margin-bottom: 0px;
}
